body{
    background-color:seagreen;
}
.glow {
    font-size: 50px;
    -webkit-text-stroke: 1px pink;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
h2{
  margin-top: 40px;  
  text-align: center;
}
#outer_div{
    width: 750px;
    height: 300px;
    margin-top: 40px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color:#ffb3c6;
    box-shadow:20px 20px 10px ;
}
#reslt_div{
    
    /* width: 850px; */
    display: flex;
    /* height: 300px; */
    /* margin-left: 250px; */
    /* margin-top: 70px; */
    font-family: Arial, Helvetica, sans-serif;
}
#cel_div{
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
}
#far_div{
    text-align: center;
    margin-left: 65px;
    margin-top: 50px;
    font-size: 20px;
}
#kel_div{
    text-align: center;
    margin-left: 65px;
    margin-top: 50px;
    font-size: 20px;
}
#cel{
    text-align: center;
    height: 40px;
    width: 150px;
    font-size: 20px;
}
#far{
    text-align: center;
    height: 40px;
    width: 150px;
    font-size: 20px;

}
#kel{
    text-align: center;
    height: 40px;
    width:150px;
    font-size: 20px;
}
input{
    background-color: #57cc99;
    border: 3px solid crimson;
    border-radius: 10px;
}
input:hover{
    background-color: crimson;
    color: white;
}
#myidentification_div{
    height: 150px;
    width: 100%;
    
}
#heading_icons{
    height: 100px;
    width: 900px;
    
    margin-left: 220px;
}
#foot_h1{
    font-style: oblique;
    font-weight: 500px;
    font-size: 15px;
    letter-spacing: 1px;
}
#foot_h3{
    font-style: italic;
    font-size: 20px;
    margin-left: 650px;
    color: aliceblue;
    margin-top: 100px;
    width: 200px;
    
}
#linkedin{
    padding-left: 740px;
}
#btn{
    border: 1px solid black;
}
#img_div1{

}
#i1{
    height: 400px;
    width: 150px;
    margin-left: 20px;
}
#content{
    display: flex;
    margin-left: 60px;
}